.navbar-aprendizaje101 {
  justify-content: space-between;
  background: $primary;
}

.navbar-aprendizaje101 .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  font-family: $headers-font;
  font-weight: bold;
  color: $white;
}
